html, body {
	font: 10pt Monospace;
	margin: 0;
	margin: 0;
	height: 100%;
}
.inner {
	margin: 3px;
	border: solid 1px #666666;
}
.call {
	background-color: #ccdaec;
	padding: 5px;
	margin: 4px 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img {
	margin: 3px;
}
.pic {
	display: inline-block;
	float: left;
	border: solid 1px #777777;
	margin: 3px 3px;
	padding: 4px;
	font: 9pt Monospace;
}
.pic img {
	margin: 0;
}
table {
	border-spacing: 0px;
}
telemetry div {
	background-color: #ccdaec;
	vertical-align: top;
	text-align: left;
	padding: 5px;
	margin: 3px;
	float: left;
}
telemetry div div {
	background-color: rgba(255, 255, 255, 0.0);
}

telemetry div img {
	margin: 0 2px;
}

.fat {
	font-size: 20px;
	font-weight: bold;
}

.wrapper {
	display: flex;  
	flex-flow: row wrap;
	text-align: center;
}

.wrapper > * {
	flex: 1 100%;
}

telemetry {
	width: 600px;
	margin: 0;
}

.side {
	padding: 3px;
}

@media all and (min-width: 800px) {
	.side { order: 1; width: 250px; float: left; }
	.telemetry { order: 2; flex: 3 0px; min-width: 456px; max-width: 456px; }
	.range {  order: 3; text-align: left; }
	.chart { order: 4; flex: 3 0px; min-width: 688px; max-width: 688px; }
}

.cross {
	position: absolute;
	background: url(cross.png) no-repeat center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
